*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
   
}
@media  (max-width:1024px){
    body{
        font-size: 1rem;
    } 
}
@media  (max-width:900px){
    body{
        font-size: 0.8rem;
    } 
}
@media  (max-width:720px){
    body{
        font-size: 0.7rem;
    } 
}
@media  (max-width:600px){
    body{
        font-size: 0.6rem;
    } 
}
@media  (max-width:480px){
    body{
        font-size: 0.5rem;
    } 
}
@media  (max-width:480px){
    body{
        font-size: 0.4rem;
    } 
}
@media  (max-width:330px){
    body{
        font-size: 0.25rem;
    } 
}
/* nav   */
nav{
    padding: 10px 2%;
    color: white;
    display: flex; 
}
.logo-Menu{
    display: flex;
}
.logo-Menu .logo{
    display: flex;
}
nav .logo svg{
    width: 15%; 
    color: white;
}

/* Menu  */
nav .logo ul{
    list-style-type: none;
    width: 100%;
}
nav .logo h1{
    padding: 4% 0;
    text-transform: uppercase;
}
nav .logo ul li{
    display: inline-block;
    padding-left: 5%;
    padding-top: 8%;
}
nav .logo ul li a{
    text-decoration: none;
    color: white;
}
.phone-number{
    padding: 2% 0;
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
}
.phone h4{
    color: red;
}
.page{
    position: absolute;
    right: 0;
}
.page h1 {
  color: red;
  border-bottom: 2px solid red;
}
@media screen and (max-width:1024px){
    nav .logo svg{
        width: 14%; 
    }
    nav .logo h1{
        padding: 5% 0;
    }
    nav .logo ul li{
        padding-top: 12%;
    }
    .phone-number{
        margin-left: 20%;
    }
    .phone{
        padding-top: 2%;
    }
}
@media screen and (max-width:912px){
    nav .logo svg{
        width: 12%; 
    }
    nav .logo h1{
        padding: 5% 0;
    }
    nav .logo ul li{
        padding-top: 10%;
    }
    .phone-number{
        justify-content: space-between;
    }
    .phone{
        padding-top: 2%;
        margin-left: -10%;
    }
}
@media screen and (max-width:820px){
    nav .logo svg{
        width: 10%; 
    }
    nav .logo h1{
        padding: 5% 0;
    }
    nav .logo ul li{
        padding-top: 8%;
    }
    .phone-number, .phone-number h3{
        justify-content: space-between;
    }
    .phone{
        padding-top: 7%;
        margin-left: -20%;
    }
}
@media screen and (max-width:768px){
    nav .logo svg{ 
        margin-top: -2%;
    }
    nav .logo h1{
        padding: 5% 0;
    }
    nav .logo ul li{
        padding-top: 11%;
    }
    .phone{
        padding-top: 7%;
        margin-left: -20%;
    }
}
@media screen and (max-width:650px){
    nav .logo svg{ 
        margin-top: -1%;
    }
    nav .logo h1{
        padding: 5% 0;
    }
    nav .logo ul li{
        padding-top: 10%;
    }
    .phone{
        padding-top: 7%;
        margin-left: -50%;
    }
    .page1{
        line-height: 20px;
    }
  
}
@media screen and (max-width:540px){
    nav .logo svg{ 
        margin-top: -1%;
    }
    nav .logo h1{
        padding: 5% 0;
    }
    nav .logo ul li{
        padding-top: 10%;
    }
    .phone{
        padding-top: 7%;
        margin-left: -100%;
    }
    .page1{
        line-height: 18px;
    }
    .page1 h1::before{
        margin-top: 19px;
        height: 2px;
    }
}
@media screen and (max-width:450px){
    nav .logo svg{ 
        margin-top: -1%;
    }
    nav .logo h1{
        padding: 6% 0;
    }
    nav .logo ul li{
        padding-top: 11%;
    }
    .phone{
        padding-top: 12%;
        margin-left: -70%;
    }
    .page1{
        line-height: 16px;
    }
    .page1 h1::before{
        margin-top: 16px;
        height: 2px;
    }
}
@media screen and (max-width:370px){
    nav .logo h1{
        padding: 7% 0;
    }
    nav .logo ul li{
        padding-top: 5%;
    }
    .phone{
        padding-top: 25%;
        margin-left: -70%;
    }
    .page1{
        line-height: 14px;
    }
    .page1 h1::before{
        margin-top: 14px;
        height: 2px;
    }
}
@media screen and (max-width:370px){
    nav .logo h1{
        padding: 7% 0;
    }
    nav .logo ul li{
        padding-top: 5%;
    }
    .phone{
        padding-top: 25%;
        margin-left: -120%;
    }
    .page1{
        line-height: 14px;
    }
    .page1 h1::before{
        margin-top: 14px;
        height: 2px;
    }
}

/* Home  */

#Home{
    padding: 5% ;
    color: white;
}
#Home svg{
    float: right;
    width: 50%;
    margin-top: -10%;
}
#Home .design{
    position: absolute;
    left: 0;
   transform: rotate(270deg);
   margin-left: -5%;
   margin-top: 10%;
   color: red;
}
#Home .design h3{
    letter-spacing: 0.5rem;
}
#Home .design::before{
    position: absolute;
    content: "";
    width: 50%;
    height: 3px;
    background-color: red;
    margin-left: -55%;
    margin-top: 5%;
}
 .context {
    padding-left: 5%;
}
#Home .context h2{
    margin: 1% 0;
}
#Home .context h2::before{
    content: "";
    position: absolute;
    width: 13%;
    height: 10px;
    margin-top: 3%;
    background-color: red;
}
#Home .context p{
    margin: 3% 0;
    text-align: justify;
}
#Home .context button{
    background-color: red;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    outline: none;
    border-style: none;
}
@media screen and (max-width:1024px) {
    #Home .design{
       margin-left: -3%;
       margin-top: 7%; 
    }  
    #Home .context h2{
        margin: 1% 0;
    }
    #Home .context h2::before{
        width: 8%;
        height: 8px;
        margin-top: 3%;
    }
    #Home .context p{
        margin: 3% 0;
    }
    #Home .design h3{
        letter-spacing: 0.3rem;
    }
}
@media screen and (max-width:768px) {
    #Home .design{
       margin-left: -3%;
       margin-top: 7%; 
    }  
    #Home .context h2{
        margin: 1% 0;
    }
    #Home .context h2::before{
        width: 10%;
        height: 6px;
        margin-top: 4%;
    }
    #Home .context p{
        margin: 3% 0;
    }
    #Home .design h3{
        letter-spacing: 0.2rem;
    }
    #Home .context button{
        padding: 10px 40px;
    }
}
@media screen and (max-width:650px) {
    #Home .design{
       margin-left: -3%;
       margin-top: 8%; 
    }  
    #Home .context h2{
        margin: 1% 0;
    }
    #Home .context h2::before{
        width: 12%;
        height: 6px;
        margin-top: 4%;
    }
    #Home .design h3{
        letter-spacing: 0.2rem;
    }
    #Home .context button{
        padding: 5px 20px;
    }
}
@media screen and (max-width:550px){
    #Home svg{
        padding-top: 5%;
    }
    #Home .context h2::before{
        width: 10%;
        height: 2px;
        margin-top: 4%;
    }
}
@media screen and (max-width:500px) {
    #Home .design{
       margin-left: -2%;
       margin-top: 8%; 
    }  
    #Home .design h3{
        letter-spacing: 0.1rem;
    }
    #Home .design::before{
        height: 2px;
    }
    #Home .context h2{
        margin: 1% 0;
    }
    #Home .context h2::before{
        width: 10%;
        height: 2px;
        margin-top: 4%;
    }
    #Home .context button{
        padding: 5px 10px;
        font-size: 0.5rem;
    }
}
@media screen and (max-width:450px) {
    #Home .design{
       margin-left: -3%;
       margin-top: 7%; 
    }  
    #Home svg{
        padding-top: 3%;
       
    }
    #Home .context h2{
        margin: 1% 0;
    }
    #Home .context h2::before{
        width: 10%;
        height: 4px;
        margin-top: 4%;
    }
    #Home .context button{
        padding: 2px 10px;
    }
}

@media screen and (max-width:350px) {
    #Home .design{
       margin-left: -4%;
       margin-top: 7%; 
    }  
    #Home svg{
        padding-top: 5%;
       
    }
    #Home .context h2{
        margin: 1% 0;
    }
    #Home .context h2::before{
        width: 10%;
        height: 2px;
        margin-top: 4%;
    }
    #Home .context button{
        border-radius: 2px;
        padding: 3px 8px;
        font-size: 0.2rem;
    }
}
@media screen and (max-width:290px) {
    #Home .design{
       margin-left: -5%;
       margin-top: 7%; 
    }  
    #Home .context h2{
        margin: 1% 0;
    }
    #Home .context h2::before{
        width: 10%;
        height: 1px;
        margin-top: 3%;
    }
    #Home .context p{
        margin-bottom: -2%;
    }
    #Home .context button{
        margin-top: 4%;
    }
    #Home .design h3{
        letter-spacing: 0.1rem;
    }
}
/* About  */

#About,#Contect{
    margin: 10%;
}
#About .context2,#Contect p,#Blog p{
    width: 50%;
    text-align: justify;
}
 .bg{
    position: absolute;
    background-color: red;
    width: 2.5%;
    height: 4.5%;
    margin-left: -0.5%;
    margin-top: -0.5%;
}

#About h1,#Contect h1,#Blog h1,#Course h1{
    position: relative;
}
 .context2 p,#Contect p{
    margin: 1% 0;
}
 .page1{
    position: absolute;
    right: 0;
}
 .context2 hr,#Contect hr,#Blog hr{
    background-color: red;
    height: 3px;
    width: 15%;
    outline: none;
    border-style: none;
}
@media (max-width:480px){
    .bg{
        width: 2.5%;
        height: 3.5%;
        margin-left: -0.8%;
        margin-top: -0.8%;
    }
}
@media (max-width:330px){
   .bg{
        width: 2%;
        height: 2%;
        margin-left: -0.7%;
        margin-top: -0.5%;
    }
}
/* About Cards  */
#About .cards{
    display: flex;
}
#About .cards .card{
    background-color: rgb(59, 58, 58);
    margin: 2% 3%;
    padding: 2%;
    text-align: justify;
}
#About .cards .card i{
    font-size: 1.8rem;
    margin-bottom: 3%;
}
#About .cards .card hr{
    width: 25%;
    height: 3px;
    background-color: red;
    margin-top: -4%;
    border-style: none;
    outline: none;
}
#About .cards .card button{
    background-color: red;
    padding: 15px 30px ;
    border-style: none;
    color: white;
    margin-top: 10%;
    border-radius: 10px;
}
#About .cards .card:first-child{
    border-bottom: 5px solid red;
}
.landings{
    display: flex;
}
.landings .landing{
    position: relative;
    background-color: rgb(59, 58, 58);
    margin: 2% 3%;
    width: 30%;
    padding: 3% ;
    border-radius: 5px;
}
.landings .landing span{
    position: absolute;
    right: 10%;
}
@media (max-width:850px){
    #About .cards,#About .cards .card i, .landings,#About .cards button{
        font-size: 0.8rem;
    }
  
    #About .cards p{
        font-size: 0.6rem;

    }
    #About .cards .card button{
        padding: 5px 10px ;
        font-size: 0.8rem;

    }
}
@media (max-width:780px){
    .cards,,#About .cards .card i, .landings,#About .cards button{
         font-size: 0.7rem;
     }
     #About .cards .card button{
        padding: 5px 8px ;
        font-size: 0.7rem;

    }
     #About .cards p{
        font-size: 0.5rem;

    }
 }
 @media (max-width:670px){
    #About .cards, .landings,#About .cards .card i{
         font-size: 0.6rem;
     }
     #About .cards .card button{
         padding: 5px 10px ;
         font-size: 0.6rem; 
     }
     .cards p{
        font-size: 0.4rem;
     }
 }
 @media (max-width:530px){
    #About .cards .card{
        border-radius: 5px;
    }
    #About .cards .card:first-child{
        border-bottom: 2px solid red;
    }
    #About .cards, .landings,#About .cards .card i{
        font-size: 0.6rem;
    }
    #About .cards p{
        font-size: 0.35rem;
    }
    #About .cards .card button{
        padding: 3px 7px ;
        font-size: 0.4rem; 
        margin: 3% 0;
        border-radius: 2px;
    }
 }
 @media (max-width:670px){
    #About .cards, .landings,#About .cards .card i{
         font-size: 0.6rem;
     }
     #About .cards .card button{
         padding: 5px 10px ;
         font-size: 0.6rem; 
     }
     .cards p{
        font-size: 0.4rem;
     }
 }
 @media (max-width:530px){
     #About .cards .card button{
         padding: 5px 10px ;
         font-size: 0.35rem; 
     }
    
 }
 @media (max-width:480px){
    #About .cards, .landings,#About .cards .card i{
        font-size: 0.5rem;
    }
    .cards p{
        font-size: 0.35rem;
     }
     #About .cards .card button{
        padding: 5px 10px ;
        font-size: 0.35rem; 
    }
    #About .cards .card button{
        padding: 3px 7px ;
        font-size: 0.4rem; 
        margin: 3% 0;
        border-radius: 2px;
    }
 }
 @media (max-width:410px){
    #About .cards, .landings,#About .cards .card i{
        font-size: 0.3rem;
    }
    .landings{
        font-size: 0.3rem;

    }
    .cards p{
        font-size: 0.35rem;
     }
     #About .cards .card button{
        padding: 5px 10px ;
        font-size: 0.35rem; 
    }
    #About .cards .card button{
        padding: 3px 7px ;
        font-size: 0.4rem; 
        margin: 3% 0;
        border-radius: 2px;
    }
 }
 @media (max-width:350px){
    #About .cards{
        flex-direction: column;
    }
    #About .cards .card{
        padding: 2% 5%;
    }
    #About .cards, .landings,#About .cards .card i{
        font-size: 0.5rem;
    }
    .landings{
        font-size: 0.3rem;
    }
    .cards p{
        font-size: 0.4rem;
     }
     #About .cards .card button{
        padding: 5px 10px ;
        font-size: 0.35rem; 
    }
 }
 .ContactCard .card-1,.ContactCard .card-2{
     display: flex;
 }
 .ContactCard .card-1 div{
     width: 100%;
     height: 200px;
     background-color: red;
     margin: 2% 5%;
     padding:  3%;
     text-align: center;
     line-height: 30px;
 }
 .ContactCard .card-1 div img{
     width: 50%;
 }
 .ContactCard .card-1 .non{
    background-color: rgb(59, 58, 58);
    padding-top: 5%;
 }
 @media (max-width:1024px){
    .ContactCard{
        font-size: 0.6rem;
    } 
    .ContactCard .card-1 div{
        height: 150px;
        line-height: 20px;
    }
 }
 @media (max-width:900px){
    .ContactCard{
        font-size: 0.5rem;
    } 
    .ContactCard .card-1 div{
        height: 150px;
        line-height: 20px;
    }
 }
 @media (max-width:750px){
    .ContactCard{
        font-size: 0.4rem;
    } 
    .ContactCard .card-1 div{
        height: 120px;
        line-height: 15px;
    }
 }@media (max-width:650px){
    .ContactCard{
        font-size: 0.4rem;
    } 
    .ContactCard .card-1 div{
        height: 100px;
        line-height: 15px;
    }
 }
@media (max-width:650px){
    .ContactCard .card-1 div{
        height: 80px;
        line-height: 13px;
        font-size: 0.4rem;

    }
 }
 @media (max-width:540px){
    .ContactCard .card-1 div{
        height: 80px;
        line-height: 11px;
        font-size: 0.35rem;

    }
 }
 @media (max-width:410px){
    .ContactCard .card-1 div{
        height: 70px;
        line-height: 9px;
        font-size: 0.25rem;

    }
 }
 @media (max-width:290px){
    .ContactCard .card-1 div{
        height: 50px;
        line-height: 7px;
        font-size: 0.2rem;
    }
 }
 .bgText{
     background-color: red;
     padding: 5% 10%;
     margin: 5% 0;
     font-size: 2rem;
 }
 .bgText button{
     margin-top: 2%;
     margin-right: 5%;
     padding: 15px 30px;
     border-style: none;
     border-radius: 10px;
     color: red;
     font-weight: 900;
 }
 .bgText button:last-child{
     background-color: black;
     color: white;
 }
 .bgText button:last-child span{
     margin-left: 5px;
 }
 @media (max-width:990px){
    .bgText{
        font-size: 1.8rem;

    }
 }
 @media (max-width:890px){
    .bgText{
        font-size: 1.6rem;

    }
 }
 @media (max-width:800px){
    .bgText{
        font-size: 1.4rem;
    }
 }
 @media (max-width:700px){
    .bgText{
        font-size: 1.2rem;
    }
    .bgText button{
        padding: 10px 20px;
        font-size: 1.2rem;

    }
 }
 @media (max-width:600px){
    .bgText{
        font-size: 1rem;
    }
    .bgText button{
        padding: 8px 15px;
        font-size: 1rem;
    }
 }
 @media (max-width:500px){
    .bgText{
        font-size:0.8rem;
    }
    .bgText button{
        padding: 5px 10px;
        font-size:0.8rem;
    }
 }
 @media (max-width:400px){
    .bgText{
        font-size:0.6rem;
    }
    .bgText button{
        padding: 3px 7px;
        font-size:0.6rem;
        border-radius: 2px;
    }
 }
 @media (max-width:300px){
    .bgText{
        font-size:0.4rem;
    }
    .bgText button{
        padding: 2px 6px;
        font-size:0.4rem;
    }
 }

 /* Blog  */

 #Blog,#Course{
     padding: 5% 10%;
 }
 #Blog p{
     margin: 1% 0;
 }
 .intro {
     line-height: 50px;
 }
 .intro h3{
    color: rgb(131, 116, 116);
 }
 .intro  h3::before{
     content: "";
     position: absolute;
     background-color: red;
     height: 3px;
     width: 5%;
 }
 .intro img{
     float: right;
     width:80px;
     height: 80px;
     border-radius: 50%;
 }
 #Blog .cards{
     display: flex;
 }
 #Blog .cards div{
     margin: 3% 2%;
 }
 #Blog .cards p{
     width: 100%;
     margin: 5% 0;
     line-height: 20px;
 }
 #Blog .BlogFooter {
     text-align: center;
 }
 #Blog .lines {
     display: flex;
    margin: 0 40%;

 }
 #Blog .lines div{
     text-align: center;
     align-items: center;
     width: 50px;
     height: 3px;
    background-color: rgb(131, 116, 116);
     margin: 0 3%;
 }
 #Blog .lines div:first-child{
     background-color: red;
 }
  .BlogFooter button{
     margin: 3% 0;
     background-color: red;
     padding: 15px 30px;
     border-radius: 5px;
     border-style: none;
     color: white;
     font-size: 1.3rem;
 }
 #Blog .BlogFooter button i{
     padding-left: 20px;
 }
@media (max-width:800px){
    .intro img{
        width:70px;
        height: 70px;
    } 
   .BlogFooter button{
        padding: 10px 20px;
        font-size: 1.1rem;
    }
}
@media (max-width:800px){
    .intro img{
        width:70px;
        height: 70px;
    } 
    .BlogFooter button{
        padding: 10px 20px;
        font-size: 1.1rem;
    }
    .intro {
        line-height: 30px;
    }
}
@media (max-width:670px){
    .intro img{
        width:60px;
        height: 60px;
    } 
   .BlogFooter button{
        padding: 10px 20px;
        font-size: 1rem;
    }
    .intro {
        line-height: 30px;
    }
    #Blog .cards p{
        font-size: 0.8rem;

    }
}
@media (max-width:550px){
    .intro img{
        width:50px;
        height: 50px;
    } 
    .BlogFooter button{
        padding: 10px 20px;
        font-size: 0.6rem;
    }
    .intro {
        line-height: 30px;
    }
    #Blog .cards p{
        font-size: 0.6rem;
        line-height: 15px;
    }
}
@media (max-width:400px){
    #Blog .cards{
        flex-direction: column;
        font-size: 0.6rem;
    }
    .intro  h3::before{
        width: 15%;
    }
    .intro {
        line-height: 25px;
    }
    #Blog .cards p{
        line-height: 15px;
    }
}
@media (max-width:300px){
    #Blog .cards{
        flex-direction: column;
        font-size: 0.5rem;
    }
    .intro img{
        width:40px;
        height: 40px;
    } 
}
#Course{
    width: 60%;
}
#Course div:last-child{
    margin: 5% 0;
}
footer{
    margin: 5% 10%;
}
.footerTitle{
    display: flex;
}
.footerTitle h1{
    padding-top: 4%;
}
footer .icons img{
    margin-right: 3%;
}
footer img{
    width: 40px;
}
footer svg{
    width: 60px;
}
.lists{
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 30px;
}
footer h4{
    margin-bottom: 5%;
}
.lists li{
    list-style: none;
    
}
@media (max-width:750px){
    .footerTitle h1{
        font-size: 0.9rem;
        margin-top: 5%;
    }
    footer svg{
        width: 50px;
    }
    footer img{
        width: 20px;
    }
    .lists{
        line-height: 20px;
    }
}
@media (max-width:600px){
    .footerTitle h1{
        font-size: 0.7rem;
        margin-top: 6%;
    }
     footer svg{
        width: 40px;
    }
    footer img{
        width: 20px;
    }
    .lists{
        line-height: 15px;
    }
}
@media (max-width:400px){
    .footerTitle h1{
        font-size: 0.4rem;
        margin-top: 7%;
    }
    footer svg{
        width: 30px;
    }
    footer img{
        width: 12px;
    }
    .lists{
        line-height: 10px;
    }
}